.jumbotron {
    background-color: rgb(253, 253, 93);
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color:rgb(253, 253, 93);
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    
}

.footer-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

.img-hotel {
    height:500px;
    width:100%;
}