.jumbotron {
  background-color: #fdfd5d;
  color: black;
  margin-top: 50px;
  margin-bottom: 15px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fdfd5d;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.img-hotel {
  height: 500px;
  width: 100%; }
